<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd">       	
	<description>Spring配置文件</description>
    <import resource="spring-context.xml"/>
    <import resource="spring-context-redis.xml"/>
    <import resource="spring-context-executor.xml"/>
    <import resource="spring-context-task.xml"/>
    <import resource="spring-rmi-client.xml"/>
</beans>
